!index.html
public/install/
public/download/
public/journal-cache
.idea
.vscode
public/vqmod/vqcache
public/vqmod/logs
public/vqmod/mods.cache
public/vqmod/checked.cache
public/image/catalog
public/image-1/
public/image
public/config.php
public/admin/config.php
public/.htaccess
db-backups/
public/storage/*
!public/storage/vendor/
log/
public/system/storage/*
public/catalog/view/theme/journal3/assets/
image/
public/admin/view/stylesheet/bootstrap.css
