!index.html
public/install/
public/download/
public/journal-cache
.idea
.vscode
public/vqmod/vqcache
public/vqmod/logs
public/vqmod/mods.cache
public/vqmod/checked.cache
public/image/catalog
public/image-1/
public/image
public/config.php
public/admin/config.php
public/.htaccess
db-backups/
public/system/storage/cache/*
!public/system/storage/cache/index.html
public/system/storage/download/*
!public/system/storage/download/index.html
public/system/storage/logs/*
!public/system/storage/logs/index.html
public/system/storage/modification/*
!public/system/storage/modification/index.html
public/system/storage/session/*
!public/system/storage/session/index.html
!public/system/storage/session/.htaccess
public/system/storage/upload/*
!public/system/storage/upload/index.html
!public/system/storage/vendor/
log/
public/catalog/view/theme/journal3/assets/*
!public/catalog/view/theme/journal3/assets/.gitkeep
public/admin/view/stylesheet/bootstrap.css
